@import '../../../styles/variables.scss';

.edu-exp {
  .content-top {
    .card {
      &:nth-of-type(2),
      &:nth-of-type(6),
      &:nth-of-type(7) {
        max-width: 70%;
        margin: $base auto;
      }
      &:nth-of-type(3) {
        grid-column: 4 / 7;
        grid-row: 9 / 12;
      }

      &:nth-of-type(4) {
        grid-row: 3 / 6;
        grid-column: 4 / 7;
      }
      &:nth-of-type(5) {
        grid-row: 6 / 9;
        grid-column: 4 / 7;
      }
      &:nth-of-type(6) {
        grid-row: 4 / 8;
        grid-column: 1 / 4;
      }
      &:nth-of-type(7) {
        grid-row: 8 / 11;
        grid-column: 1 / 4;
      }
    }
  }
  .content-bottom {
    .card:nth-of-type(3) {
      grid-column: 2 / 5;
    }
  }
  .doodle {
    width: 100%;
  }
  .special {
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    a {
      grid-column: span 1;
      margin: auto;
      background-color: $clr-pink;
      color: $font-clr--dark;
      text-decoration: none;
      border-radius: 4px;
      padding: calc($base/2) $base;
      border: none;
      box-shadow: 1px 1px 5px $font-clr--dark;
      font-family: $font-family;
      font-weight: 700;
    }
    a:hover {
      transform: scale(1.05);
    }
  }
}

@media screen and (max-width: 700px) {
  .edu-exp .special {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
