@import "../../../styles/main.scss";

.hero {
  display: grid;
  place-content: center;
  color: $clr-light;
  min-height: 90vh;
  &__title {
    @include H1font
  }
  &__subtitle {
    display: grid;
    gap: $base;
    grid-template-columns: 1fr auto;
    align-items: center;
    h3 {
      font-size: calc($base*2.25);
      font-weight: 400;
      line-height: calc($base*3);
    }
    &__line {
      height: calc($base*1.5);
      background-color: $clr-light;
      
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: calc($base*1.625)
}

.skills {
  display: grid;
grid-template-columns: repeat(6, 1fr);
gap: $base;


  * {
    color: $clr-turquoise;
    width: calc($base*2);
    height: calc($base*2);
    margin: auto
  }
}