@import '../../../styles/variables.scss';

.hero {
  display: grid;
  place-content: center;
  color: $clr-light;
  min-height: 90vh;
  &__title {
    @include H1font;
  }
  &__subtitle {
    display: grid;
    gap: $base;
    grid-template-columns: 1fr auto;
    align-items: center;
    h3 {
      font-size: calc($base * 2.25);
      font-weight: 400;
      line-height: calc($base * 3);
    }
    &__line {
      height: calc($base * 1.5);
      background-color: $clr-pink;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: calc($base * 1.625);
}

.skills {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: $base;

  * {
    color: $clr-turquoise;
    width: calc($base * 2);
    height: calc($base * 2);
    margin: auto;
  }
}
.testamonial-card {
  grid-column: span 3;
}

@media screen and (max-width: 700px) {
  .hero {
    max-width: 90%;
    margin: auto;
    &__title {
      font-size: $base * 3.5;
    }
    &__subtitle {
      grid-template-columns: 1fr;
      h3 {
        font-size: calc($base * 1.75);
      }
    }
  }
}
