@import '../../../styles/variables.scss';

header {
  display: flex;
  padding: calc($base * 1.5) calc($base * 2);
  justify-content: space-between;
  align-items: center;
  nav {
    display: flex;
    gap: calc($base * 2);
    align-items: center;
    a {
      text-decoration: none;
      color: $font-clr--dark;
      font-weight: 600;
      &:hover {
        font-weight: 900;
      }
    }
    button {
      background-color: $clr-turquoise;
      color: $clr-light;
      padding: calc($base * 0.625) $base;
      border: none;
      border-radius: 6px;
      font-family: $font-family;
      font-weight: 600;
      &:hover {
        font-weight: 900;
      }
    }
  }

  .mobile-nav {
    position: absolute;
    right: 0;
    top: calc($base * 2);
    z-index: 5;
    flex-direction: column;
    align-items: end;
    a {
      color: $clr-light;
      padding-inline: calc($base * 2.5);
    }
    svg {
      padding-inline: calc($base * 2);
      width: 2rem;
      height: 2rem;
      color: $clr-light;
      cursor: pointer;
      &:hover {
        color: $clr-pink;
      }
    }
    button {
      border: 1px solid $clr-light;
    }
  }
}

@media screen and (max-width: '800px') {
  header nav {
    gap: $base;
  }
}
