@import '../../../styles/variables.scss';

.projects {
  .card {
    &:nth-of-type(3) {
      grid-column: 2 / span 4;
    }
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      grid-column: span 2;
    }
    &:nth-of-type(7) {
      grid-column: 2 / span 3;
    }
  }
  .contact {
    grid-column: 5 / span 2;
    grid-row: 4 / 5;
    align-content: center;
    justify-items: center;
    * {
      color: $clr-pink;
      width: calc($base * 4);
      height: calc($base * 4);
    }
  }
}

@media screen and (max-width: 700px) {
  .projects .contact {
    display: none;
  }
}
