@import '../../../styles/variables.scss';

.readmore {
  background-color: $clr-pink;
  width: 60px;
  height: 45px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: auto;
  margin-left: auto;
  cursor: pointer;
  p {
    transform: translateX(-25%);
    @include BtnFont;
    white-space: nowrap;
  }
  a {
    text-decoration: none;
  }
}

@media screen and (max-width: 700px) {
  .readmore {
    width: 45px;
    height: 30px;
  }
  .readmore p {
    font-size: calc($base * 0.75);
  }
}
