@import '../../../styles/variables.scss';

.readmore {
  background-color: $clr-pink;
  width: 66px;
  height: 46px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: auto;
  margin-left: auto;
  position: relative;
  cursor: pointer;
  p {
    position: absolute;
    right: 26px;
    top: 12px;
    @include BtnFont;
    white-space: nowrap;
  }
  a {
    text-decoration: none;
  }
}
.readmore:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 700px) {
  .readmore {
    width: 45px;
    height: 30px;
    p {
      font-size: calc($base * 0.75);
      top: 5px;
    }
  }
}
